---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { getTagById } from '../../data/tags';
import { formatDate } from '../../utils';
import { Article } from '../../components/Article';
import { css } from '../../../styled-system/css';
import { Heading } from '../../components/MDX/heading';

export async function getStaticPaths() {
  const posts = await getCollection('articles');

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post
  }));
}

type Props = CollectionEntry<'articles'>;

const post = Astro.props;
const { Content } = await render(post);
const validTagList = post.data.tags.filter((tagId) => typeof getTagById(tagId) !== 'undefined');
---

<Layout
  title={post.data.title}
  description={post.data.description}
>
  <Article>
    <header class={css({ display: 'flex', flexDirection: 'column', gap: '16px' })}>
      <h1 class={css({ textStyle: 'articleTitle', color: 'gray.700' })}>
        {post.data.title}
      </h1>
      {
        validTagList.length > 0 && (
          <ul class={css({ display: 'flex', gap: '16px' })}>
            {validTagList.map((tagId) => (
              <li>
                <a
                  href={`/categories/${tagId}/1`}
                  class={css({
                    color: 'white',
                    backgroundColor: 'rosePink.600',
                    textStyle: 'categoryTag',
                    paddingX: '1em',
                    paddingY: '0.5em',
                    borderRadius: '8',
                    _hover: {
                      backgroundColor: 'rosePink.700'
                    },
                    _active: {
                      backgroundColor: 'rosePink.800'
                    }
                  })}
                >
                  {getTagById(tagId)?.displayName}
                </a>
              </li>
            ))}
          </ul>
        )
      }
      <p class={css({ textStyle: 'lastUpdated' })}>
        最終更新日: {formatDate('YYYY/MM/DD')(post.data.lastUpdatedDate ?? post.data.publishedDate)}
      </p>
    </header>
    <div
      class={css({
        display: 'flex',
        flexDirection: 'column',
        gap: '16px'
      })}
    >
      <Content />
    </div>
  </Article>
</Layout>
