---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import { getAllTagIds } from '../../../data/tags';
import type { CollectionEntry } from 'astro:content';
import type { GetStaticPathsOptions } from 'astro';
import { getTagById } from '../../../data/tags';
import { css } from '../../../../styled-system/css';
import ArticleCard from '../../../components/ArticleCard.astro';
import Pagination from '../../../components/Pagination.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allArticles = await getCollection('articles');
  const allTagIdSet = new Set(getAllTagIds());

  const tagArticlesMap = new Map<string, CollectionEntry<'articles'>[]>();

  for (const tagId of allTagIdSet.values()) {
    tagArticlesMap.set(tagId, []);
  }

  for (const tagId of allTagIdSet.values()) {
    const articlesFilteredByTagId = allArticles
      .filter((article) => article.data.tags.includes(tagId))
      .sort((articleA, articleB) => articleB.data.publishedDate.getTime() - articleA.data.publishedDate.getTime());

    tagArticlesMap.set(tagId, articlesFilteredByTagId);
  }

  const result = tagArticlesMap.entries().flatMap(([tagId, articles]) => {
    const filteredArticlesByTagId = articles.filter((article) => article.data.tags.includes(tagId));

    return paginate(filteredArticlesByTagId, { params: { id: tagId }, pageSize: 6 });
  });

  return Array.from(result);
}

const { page } = Astro.props;
const currentTagId = Astro.params.id ?? '';
const currentTag = getTagById(currentTagId);
---

<Layout title={`${currentTag?.displayName ?? 'カテゴリー'}の記事一覧`}>
  <article
    class={css({
      display: 'grid',
      gap: 'calc(var(--spacing-unit) * 6)',
      md: { gap: 'calc(var(--spacing-unit) * 10)' }
    })}
  >
    <header
      class={css({
        display: 'grid',
        gap: 'calc(var(--spacing-unit) * 2)',
        backgroundColor: 'white',
        borderRadius: '12',
        borderWidth: '1px',
        borderStyle: 'solid',
        borderColor: 'gray.200',
        padding: 'calc(var(--spacing-unit) * 5)'
      })}
    >
      <h1
        class={css({
          color: 'gray.900',
          fontSize: '24',
          fontWeight: '700',
          lineHeight: '150',
          letterSpacing: '0.04em'
        })}
      >
        {currentTag?.displayName ?? 'カテゴリー'}
      </h1>
      {
        currentTag?.description ? (
          <p
            class={css({
              color: 'gray.700',
              fontSize: '16',
              fontWeight: '400',
              lineHeight: '170',
              letterSpacing: '0.025em'
            })}
          >
            {currentTag.description}
          </p>
        ) : null
      }
      <p
        class={css({
          color: 'gray.700',
          fontSize: '16',
          fontWeight: '400',
          lineHeight: '170',
          letterSpacing: '0.025em'
        })}
      >
        このカテゴリの記事は全 {page.total} 件です。
      </p>
    </header>

    <ul
      class={css({
        display: 'grid',
        gap: 'calc(var(--spacing-unit) * 5)'
      })}
    >
      {
        page.data.map((article) => (
          <li>
            <ArticleCard article={article} />
          </li>
        ))
      }
    </ul>

    <footer
      class={css({
        backgroundColor: 'white',
        borderRadius: '12',
        borderWidth: '1px',
        borderStyle: 'solid',
        borderColor: 'gray.200',
        padding: 'calc(var(--spacing-unit) * 4)'
      })}
    >
      <Pagination
        currentPage={page.currentPage}
        totalPages={page.lastPage}
        baseUrl={`/categories/${currentTagId}`}
      />
    </footer>
  </article>
</Layout>
