---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allArticles = await getCollection('articles');

  return paginate(allArticles, { pageSize: 12 });
}

const { page } = Astro.props;
---

<Layout>
  <article>
    <header>
      <h1>記事一覧</h1>
    </header>
    <p>
      {
        page.data.map((collectionItem) => (
          <li>
            <a href={`/articles/${collectionItem.id}`}>{collectionItem.data.title}</a>
          </li>
        ))
      }
    </p>
    <footer>
      {
        page.currentPage === 1 ? (
          // 最初のページ: 1 2 3 > >>
          <>
            <span>{page.currentPage}</span>
            {page.lastPage >= 2 && <a href={`/page/2`}>2</a>}
            {page.lastPage >= 3 && <a href={`/page/3`}>3</a>}
            {page.url.next && <a href={page.url.next}>&gt;</a>}
            {page.lastPage > 1 && <a href={page.url.last}>&gt;&gt;</a>}
          </>
        ) : page.currentPage === page.lastPage ? (
          // 最後のページ: << < 8 9 10
          <>
            <a href={page.url.first}>&lt;&lt;</a>
            <a href={page.url.prev}>&lt;</a>
            {page.lastPage >= 3 && <a href={`/page/${page.lastPage - 2}`}>{page.lastPage - 2}</a>}
            {page.lastPage >= 2 && <a href={`/page/${page.lastPage - 1}`}>{page.lastPage - 1}</a>}
            <span>{page.currentPage}</span>
          </>
        ) : (
          // それ以外: << < 4 5 6 > >>
          <>
            <a href={page.url.first}>&lt;&lt;</a>
            <a href={page.url.prev}>&lt;</a>
            <a href={`/page/${page.currentPage - 1}`}>{page.currentPage - 1}</a>
            <span>{page.currentPage}</span>
            <a href={`/page/${page.currentPage + 1}`}>{page.currentPage + 1}</a>
            <a href={page.url.next}>&gt;</a>
            <a href={page.url.last}>&gt;&gt;</a>
          </>
        )
      }
    </footer>
  </article>
</Layout>
