---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <article class="w-full">
    <div class="hero-image w-full">
      {
        heroImage && (
          <Image width={1020} height={510} src={heroImage} alt="" class="block mx-auto rounded-xl shadow-lg" />
        )
      }
    </div>
    <div class="prose w-full max-w-3xl mx-auto p-4 text-custom-gray-dark">
      <div class="title mb-4 py-4 text-center leading-tight">
        <div class="date mb-2 text-custom-gray">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on italic">
                最終更新: <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="text-5xl md:text-6xl font-bold mb-2 text-custom-black leading-tight">{title}</h1>
        <hr class="border-0 border-t border-custom-gray-light" />
      </div>
      <div class="content prose-lg">
        <slot />
      </div>
    </div>
  </article>
</Layout>
