---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allArticles = await getCollection('articles');

  return paginate(allArticles, { pageSize: 12 });
}

const { page } = Astro.props;
---

<Layout>
  <p>
    {
      page.data.map((collectionItem) => (
        <li>
          <a href={`/articles/${collectionItem.id}`}>{collectionItem.data.title}</a>
        </li>
      ))
    }
  </p>
  <a href={page.url.first}>1</a>
  <span>{page.currentPage}</span>
  <a href={page.url.last}>{page.lastPage}</a>
</Layout>
